@font-face {
  font-family: 'Public Sans';
  src: url('PublicSans-Bold.woff2') format('woff2'),
      url('PublicSans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Public Sans';
  src: url('PublicSans-Regular.woff2') format('woff2'),
      url('PublicSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}



@font-face {
  font-family: 'DM Serif Display';
  src: url('DMSerifDisplay-Regular.woff2') format('woff2'),
      url('DMSerifDisplay-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}



html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --dm-font: "DM Serif Display", Arial, sans-serif;
  --public-font: "Public Sans", sans-serif;
  --dark-pink: #BA4270;
  --white-water: #FBFCFE;
  --black-color:#1B262F;
  --dark-blue:#36536B;
  --grey-color:#6C8294;
  --pink-color:#DA6D97;
}


.container {
  width: 100%;
  max-width: 1150px;  
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
  padding-right: 24px;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: var(--barlow-font);
  background-color:  #EDF3F8;
  
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Header */
.site-header {
  background-image: url(../images/circle-bckg.svg);
  background-size: 780px 780px;
  background-repeat: no-repeat;
  background-position: calc(50% + 0px) -520px;
}


.wrapper {
  min-width: 100%;
 
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 0;
}

.site-header__logo-link {
  text-decoration: none;
  display: block;
  flex-shrink: 0;
}

.site-header__button {
  background-color: transparent;
  border: none;
  background-image: url(../images/Hamburger.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 28px;
  height: 17px;
  flex-shrink: 0;
  cursor: pointer;
  z-index: 111111;
}

.site-nav {
  display: none;
  position: absolute;
  z-index: 2221;
  top:0;
  right: 0;
  bottom:0;
  padding: 40px 20px;
  height: 667px;
  text-align: center;
  overflow: auto;
  background-color: var(--black-color);
  color: #83888F;
}


.site-header--open .site-header__button {
  background-image: url(../images/close.svg);
  width: 23px;
  height: 23px;
}

.site-header--open .site-nav  {
  display: block;
  position: fixed;
}

.site-nav__list {
  list-style-type: none;
  margin: 100px auto;
  width: 280px;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.site-nav__link {
  text-decoration: none;
  font-family: var(--public-font);
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: -0.142857px;
  color: var(--white-water);
  text-align: center;
  mix-blend-mode: normal;
  opacity: 0.7;
  transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -webkit-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
}

.site-nav__link:hover {
  color: #333D4B;
}

.demo__link {
  padding: 15px 37px;
  font-family: var(--public-font);
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.115385px;
  text-transform: uppercase;
  color: var(--white-water);
  background-color: var(--dark-pink);
  border-radius: 24px;
  opacity: 1;
}

.demo__link:hover {
  opacity: 0.9;
  color: white;
}


.site-nav__item:not(:last-child) {
  margin-bottom: 32px;
}


.smartphone__img {
  position: relative;
  z-index: 1;
  left: calc(50% - 60px);
  top: calc(50% - 200px);
}


.hero__form {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}


.form__elems {
  display: flex;
  flex-direction: column;
  width: 100%;
}


.hero-heading {
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 36px;
  text-align: center;
  letter-spacing: -0.246154px;
  color: #36536B;
  text-align: center;
  display: inline-block;

}


.schedule-input {
  padding: 15px 27px;
  border: none;
  border-radius: ;
  background: #FBFCFE;
  box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
  border-radius: 24px;
  margin-bottom: 16px;
  max-width: 350px;
}

.schedule-demo[type=submit] {
  padding: 15px 48px;
  background: #BA4270;
  border-radius: 24px;  
  border: none;
  max-width: 350px;
  color: white;
  font-family: "Public Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  letter-spacing: -0.115385px;
  margin-bottom: 24px;
}

.question__link {
  font-family: "Public Sans";
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: #6C8294;
  text-align: center;
  width: 225px;
}

.grid-gallery__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.gallery__item {
  height: auto;
  display: flex;
  flex-direction: column;
}

.brand::before {
  background-image: url(../images/hero-egg-mob.png);
  content: "";
  display: block;
  width: 100%;
  height: 312px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.audience::before {
  background-image: url(../images/mobpink.png);
  content: "";
  display: block;
  width: 100%;
  height:312px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.gallery__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 64px 0;
  background-color: white;

}

.gallery__heading {
  margin: 0;
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 39px;
  text-align: center;
  letter-spacing: -0.228571px;
  color: #24303E;
  width: 327px;
}

.gallery__desc {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  letter-spacing: -0.128571px;
  color: #808397;
  width: 327px;
}


.gallery__link {
  font-family: "Fraunces" ;
  font-style: normal;
  font-weight: 900;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24303E;
  text-decoration: none;
  position: relative;
  z-index: 1;
  transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -webkit-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  
}

.gallery__link::after {
  content: "";
  height:10px ;
  width: 100%;
  display: block;
  background-color: #e4d376;
  mix-blend-mode: normal;
  opacity: 0.25;
  border-radius: 28px;
  position: absolute;
  z-index: 1;
  bottom: 10%;
}

.gallery__link:hover::after {
  background-color: #ffda09;
}

.gallery__fruits {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  padding: 398px 24px 60px 24px;
}

.fruits__heading {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 28px;
  line-height: 35px;
  text-align: center;
  letter-spacing: -0.2px;

}

.fruits__desc {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 27px;
  text-align: center;
  letter-spacing: -0.114286px;
  width: 84%;
}

.graphic__design {
  color: #24554A;
  background-image: url(../images/fruit1mob.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center;
}

.photography {
  color: #052C3B;
  background-image: url(../images/fruit2mob.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.testimonals__heading {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 4px;
  color: #A7AAAD;
  margin: 64px 0;
}

.clients__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0 24px;
  margin: 0;
}

.clients__item  {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.clients__item:not(:last-child) {
  margin-bottom: 64px;
}

.clients__desc {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  letter-spacing: -0.128571px;
  color: #5B636D;
  margin: 0;
  margin-bottom: 32px;
}

.emily::before {
  content: "";
  width: 72px;
  height: 72px;
  background-image: url(../images/tes_1.png);
  background-size:cover;
  background-repeat: no-repeat;
  background-position:center;
  margin-bottom: 32px;
}

.thomas::before {
  content: "";
  width: 72px;
  height: 72px;
  display: block;
  background-image: url(../images/tes_3.png);
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 32px;

}

.jennie::before {
  content: "";
  width: 72px;
  height: 72px;
  display: block;
  background-image: url(../images/tes_2.png);
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 32px;
}


.clients__name {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  letter-spacing: -0.128571px;
  color: #24303E;
  margin: 0;
  margin-bottom: 9px;
}

.clients__status {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 25px;
  text-align: center;
  letter-spacing: -0.1px;
  color: #A7AAAD;
  margin: 0;
}


@media only screen and (min-width: 700px) {
  
  .container {
    padding-left: 40px;
    padding-right: 40px;
  }

  body {
    overflow-x: hidden;
  }
 
  .site-header {
    background-image: url(../images/circle-bckg.svg);
    background-size: 949px 949px;
    background-repeat: no-repeat;
    background-position: calc(50% + 0px) -660px;
  }

  .wrapper {
    background-image: url(../images/hero_desk.png);
    height: auto;
    min-width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }



  
  .smartphone__img {
    position: relative;
    z-index: 1;
    left: calc(50% - 60px);
    top: calc(50% - 200px);
  }
  

  .site-header__button {
    display: none;
    background-color: transparent;
  }

  .site-header__logo {
    width: 135px;
    height: 38px;
    margin-right: 65px;  
  }

  .site-nav {
    display: block;
    top: 0;
    margin: 0;
   
  }

  .site-nav {
    flex-direction: row;
    padding: 40px 20px;
    text-align: center;
    color: var(--white-color);
    background-color: transparent;
  }

  .site-nav__list {
    list-style-type: none;
    padding-top: 34px;
    margin:0;
    width: 100%;
  
  }
  .site-nav__list {
    font-family: "Barlow";
    display: flex;
    justify-content: center;
    padding: 0;

  }

  .site-nav__link {
    font-family: "Barlow";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: var(--dark-blue);;
    letter-spacing: -0.128571px;
  }

  .demo__link {
    padding: 15px 20px;
    font-family: var(--public-font);
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: -0.107143px;
    text-transform: uppercase;
    color: white;
    background-color: var(--dark-pink);
    border-radius: 28px;
    opacity: 1;
    margin-left: 85px;
  }

  .demo__link:hover {
    background-color: rgb(172, 225, 243);
  }

  .site-nav__item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 15px;
  }


  .hero-container {
    text-align: start;
    width: 493px;
    margin-left: 58px;
  }

  .hero-heading {
    font-family: 'DM Serif Display', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    letter-spacing: -0.369231px;
    color: #36536B;
    max-width: 573;
  }

  .hero__form {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: center;
  }

  .hero-heading {
    font-family: "DM Serif Display";
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 36px;
    text-align: center;
    letter-spacing: -0.246154px;
    color: #36536B;
    text-align: center;
    display: inline-block;
    width: 573px;
  }
  
  
  .form__elems {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  
  .schedule-input {
    font-family: "Public Sans";
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    padding: 15px 27px;
    border: none;
    text-align: left;
    background: #FBFCFE;
    box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
    border-radius: 24px;
    margin-bottom: 16px;
    width: 445px;
    position: relative;
    z-index: 1;
 
  }
  
  .schedule-demo[type=submit] {
    padding: 15px 24px;
    background: #BA4270;
    border-radius: 24px;  
    border: none;
    max-width: 350px;
    color: white;
    font-family: "Public Sans";
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.115385px;
    margin-bottom: 24px;
    position: absolute;
    z-index: 1;
    left: calc(50% - 90px);
    right:0;
  }

}

 

@media only screen and (min-width: 1075px) {
  


  .site-header {
    background-image: url(../images/circle-bckg.svg);
    background-size: 780px 780px;
    background-repeat: no-repeat;
    background-position: calc(50% + 500px) -110px;
    padding-bottom: 350px;
  }

  .wrapper {
    background-image: url(../images/hero_desk.png);
    min-width: 100%;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    z-index: 1;
  }
  
  .header__content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 32px 0;
  }
  
  .smartphone__img {
    position: absolute;
    width: 260px;
    height: 500px;
    z-index: 1;
    left: calc(50% + 210px);
    top: calc(50% + 10px);
  }
  
  .site-header__logo {
    width: 135px;
    height: 38px;
  }

  .demo__link {
    padding: 15px 20px;
    font-family: var(--public-font);
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: -0.107143px;
    text-transform: uppercase;
    color: white;
    background-color: var(--dark-pink);
    border-radius: 28px;
    opacity: 1;
  }
    
  .hero-heading {
    font-family: 'DM Serif Display', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 72px;
    letter-spacing: -0.553846px;    
    color: #36536B;
    text-align: start;
  }
  
  .hero__form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: center;
  }

  .form__elems {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  
  .schedule-input {
    font-family: "Public Sans";
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    padding: 15px 27px;
    border: none;
    text-align: left;
    background: #FBFCFE;
    box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
    border-radius: 24px;
    margin-bottom: 16px;
    width: 445px;
    position: relative;
    z-index: 1;
 
  }
  
  .schedule-demo[type=submit] {
    padding: 15px 24px;
    background: #BA4270;
    border-radius: 24px;  
    border: none;
    max-width: 350px;
    color: white;
    font-family: "Public Sans";
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.115385px;
    margin-bottom: 24px;
    position: absolute;
    z-index: 1;
    left: calc(50% - 250px);
    right:0;
  }



}


/* foooter */

.footer {
  margin-top: 183px;
  background-color: 
  #1B262F;
}

.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 54px 0;
  text-align: center;
}

.footer li {
  list-style-type: none;
  text-align: center;
}

.footer-nav__link {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  text-decoration: none;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  text-transform: uppercase;
  color: var(--white-water);
  transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -webkit-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
}

.footer-nav__link:hover {
  color:  #FFFFFF;
}

.footer-nav__list {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin-top: 40px;
  padding: 0;
  margin-bottom: 88px;
}

.footer-nav__item:not(:last-child) {
  margin-right: 31px;
}



.socials__list {
  display: flex;
  align-items: center;
  padding: 0;
  margin:0;
}

.socials_item:not(:last-child) {
  margin-right: 24px;
}

.svg-icons {
  fill: #FFFFFF;
  transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -webkit-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
}

.svg-icons:hover {
 fill: var(--pink-color);
}

